# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env.*
*.sqlite3
*.db

# VS Code
.vscode/

# Flask
instance/
*.log

# OS
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
ENV/
.venv/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Coverage/test reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints/

# Migrations
migrations/